.canvas-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    overflow-x: auto;
}

#activityCanvas {
    width: 100%; /* Ensure canvas takes full width of container */
    /* Height is set in HTML attribute */
}

#main-content {
  background-color: #68bef0; 
}

footer{
  background-color: #ac2277;
}

.example-table {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 20px;
 }
.example-table th, .example-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
.code-block {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  font-family: monospace;
  white-space: pre-wrap;
  margin-bottom: 15px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
