canvas { 
    border: 1px solid #ccc; 
    margin-top: 10px; 
}
#explanation { 
    margin-top: 10px; 
    font-family: sans-serif; 
}
#setValues, #nextStep { 
    margin: 5px; 
    margin-top: 10px;
}

#main-content {
  background-color: #eba651; 
}

#sortCanvas{
    background-color: white;
}

#analogy-title {
  color: #3b4a1c; 
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
}


footer{
  background-color: #b3a38d;
}

.official-link {
  color:#1d094c ;
}