canvas { 
    border: 1px solid #ccc; 
    margin-top: 10px; 
}
#controls { 
     margin-top: 10px; 
}
#explanation { 
    margin-top: 10px; 
    font-family: sans-serif; 
}
#setValues, #nextStep { 
    margin: 5px; 
    margin-top: 10px;
}

#main-content {
  background-color: #f5acc8; 
}

footer{
  background-color: #ca1f66;
}